.react-calendar {
  display: block;
  height: 310px;
  width: 350px;
  border-radius: 0.4rem;
  background: var(--gradient-100);
  background: linear-gradient(
    90deg,
    var(--gradient-100) 0%,
    var(--gradient-200) 50%,
    var(--gradient-300) 100%
  ) !important;
  border: none !important;

  i {
    color: white;
    cursor : pointer;
  }

  abbr[title] {
    text-decoration: none;
  }

  button,
  .react-calendar__month-view__weekdays__weekday {
    color: white;
  }

  .react-calendar__navigation__label {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .react-calendar__navigation button[disabled] {
    background-color: transparent;
  }

  .react-calendar__navigation button:enabled:focus {
    background: transparent;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation__arrow:hover,
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #ffffff33;
  }

  .react-calendar__tile:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: transparent;
    font-weight: 600;

    abbr {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      background: white !important;
      color: var(--text);
      font-weight: bold;
    }
  }
  .react-calendar__tile--now {
    background: transparent;
  }

  .icon-caret-right {
    color: white;
    font-size: 1.1rem;

    &.flip {
      transform: rotate(180deg);
      display: inline-block;
    }
  }

  &.hide {
    display: none;
  }
}
