.card {
  background: white;
  border-radius: $border-radius-sm;
  padding: 1rem;
  bottom: 4.5rem;
  box-shadow: 6px 4px 16px var(--card-box-shadow);
  display: flex;
  margin-bottom: 10px;

  &.align-center {
    justify-content: center;
  }

  &.align-left {
    justify-content: left;
  }

  &.outlined {
    border: 1px solid var(--active);
    background: transparent;
  }
  &.gradient {
    background: linear-gradient(
      90deg,
      var(--gradient-100) 0%,
      var(--gradient-200) 50%,
      var(--gradient-300) 100%
    );

    color: white;
  }
}
