.date-selector {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.8rem;
  position: relative;
  top: 0;

  .icon-settings {
    justify-self: end;
    margin-right: 0 !important;
    color: #525971;

    &:hover {
      cursor: pointer;
      // animation-name: infinite-spin;
      // animation-duration: 4000ms;
      // animation-iteration-count: infinite;
      // animation-timing-function: linear;

      transform: translate3d(0px, -2px, 0px);
      // color : #646280;
    }
  }

  @keyframes infinite-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 575px) {
    .icon-settings {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  .date-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr auto auto;
    gap: 0 1rem;

    .text,
    i {
      align-self: center;
    }
    // input {
    //   border-radius: 0.5rem;
    //   outline: none;
    //   width: 10rem;
    //   text-align: center;
    //   font-weight: 600;
    //   font-size: 1rem;
    //   border: 1px solid lightgray;
    // }

    i {
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }

    
    .react-calendar { 
      position: absolute;
      z-index: 999;
      right: 0;
      left: 45%;
      margin-top: 44px;
      
      &::before {
        position: absolute;
        bottom: 100%;
        left: 49%;
        margin-left: -5px;
        width: 0;
        border-bottom: 7px solid #8ea0f2;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
      }
    }
  }
}
