.date-selector {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.8rem;
  position: relative;
  top: 0;

  @media screen and (max-width: 575px) {
    gap: 1rem 0;
    grid-template-rows: auto;
  }
  
  .date-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;

    @media screen and (max-width: 575px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }

    .text,
    i {
      align-self: center;
    }

    i {
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }

    .date {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 0 1rem;
    }

    .react-calendar {
      position: fixed;
      z-index: 999;

      &::before {
        position: absolute;
        bottom: 100%;
        left: 49%;
        margin-left: -5px;
        width: 0;
        border-bottom: 7px solid #8ea0f2;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
      }
    }
  }
}
