.progress-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 10px;
  border-radius: $border-radius-sm;

  .MuiLinearProgress-barColorPrimary {
    background-color: var(--progress-bar-background);
  }

  div {
    border-radius: inherit !important;
  }
}
