.settings-modal {
  .react-calendar {
    width: auto !important;
  }

  .MuiDialogContent-root {
    display: grid;
    gap: 1rem;
  }

  .settings {
    display: grid;
    grid-template-columns: 100px 1fr 30px; 
    gap : 0 1rem; 
    color: var(--text);
    align-items: center;
    
    @media screen and (max-width : 490px) {
      grid-template-columns: 50px 9rem auto;
    }
    .title {
      font-weight: 600;
    }

    input {
      width: auto;
    }

    i {
      color : var(--active);
    }
  }
}
