$color-size: 45px;
.theme-selector {
  padding: 1rem;
}

.color-selector,
.bg-selector {
  .title {
    font-weight: bold;
  }
  .color-wrapper {
    display: flex;
    padding: 1rem 0;
    > span {
      width: $color-size;
      height: $color-size;
      border-radius: 50%;
      margin-right: 1rem;
      background: lightgray;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg.selected {
        transform: rotate(90deg);
        color: white;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.1s ease-in;
      }
    }

    .blueTheme {
      background: linear-gradient(
        140deg,
        $blue-gradient-100 0%,
        $blue-gradient-200 50%,
        $blue-gradient-300 100%
      );
    }

    .greenTheme {
      background-color: $green-primary-100;
    }

    .redYellowTheme {
      background: linear-gradient(
        140deg,
        $redyellow-gradient-100 0%,
        $redyellow-gradient-200 50%,
        $redyellow-gradient-300 100%
      );
    }
  }
}
.color-selector {
  position: relative;
  &:after {
    content: "";
    border-bottom: 1px solid var(--text);
    opacity: 0.3;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.bg-selector {
  margin-top: 1rem;

  .color-wrapper {
    padding: 1rem 0 0.5rem 0;

    svg.selected {
      color: var(--active) !important;
    }

    span.outlined {
      border: 1px solid rgba(0, 0, 0, 0.26);
      color: rgba(0, 0, 0, 0.26);
      background: white;
      &.selected {
        border: 1px solid var(--primary-300);
        color: var(--primary-300);
      }
    }
  }
  .description {
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 5px;
  }
  .file-drop {
    border: 1px solid var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 150px;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
      background: var(--hover-background);
      transition: all 0.1s ease-in;
    }

    svg {
      font-size: 3rem;
    }
  }
}
