.time-counter {
  display: grid;
  grid-template-columns: auto 10px auto 10px auto 10px auto;
  gap: 0 1rem;

  @media screen and (max-width: 320px) {
  }

  @media screen and (max-width: 512px) {
    // grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
    gap: 0;
  }
  .time-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    width: 70px;
    align-items: center;

    @media screen and (max-width: 512px) {
      width: 65px;
    }

    .time,
    .type {
      text-align: center;
    }

    .time {
      font-weight: 600;
      font-size: 2rem;
    }

    .type {
      font-weight: 400;
      font-size: 0.75rem;
    }
  }

  .colon {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: white;
      margin-right: 0;
      @media screen and (max-width: 512px) {
        font-size: 1rem;
      }
    }
  }
}
