//colors 
$app-bg : #E2ECFE;
$color-navy : #1B256D; 
$color-blue : #4360FB; 

$border-radius-xs : 0.2rem;
$border-radius-sm : 1rem; 

//theme1 
$theme1-gradient-100 : #419A88; 
$theme1-gradient-200 : #348476; 
$theme1-gradient-300 : #296f65; 
$theme1-primary-100 : #609F9F; 
$theme1-primary-200 : #446969; 
$theme1-primary-300 : #253838; 