//border-radius
$border-radius-xs: 0.2rem;
$border-radius-sm: 1rem;

//theme-green
$green-gradient-100: #419a88;
$green-gradient-200: #348476;
$green-gradient-300: #296f65;
$green-primary-100: #609f9f;
$green-primary-200: #446969;
$green-primary-300: #253838;

//theme-blue
$blue-gradient-100: #87aaee;
$blue-gradient-200: #919df3;
$blue-gradient-300: #9794f3;
$blue-primary-100: #3f51b5;
$blue-primary-200: #303f9f;
$blue-primary-300: #1b256d;

//theme-red-yellow
$redyellow-gradient-100: #f4ba81;
$redyellow-gradient-200: #f57f73;
$redyellow-gradient-300: #f56583;
$redyellow-primary-100: #d87f8f;
$redyellow-primary-200: #d37082;
$redyellow-primary-300: #cf6175;

//theme-pink-purple
$pinkPurple-gradient-100: #FAA4E5;
$pinkPurple-gradient-200: #C29DE3;
$pinkPurple-gradient-300: #9597EC;
$pinkPurple-primary-100: #AC8DE0;
$pinkPurple-primary-200: #A17DDC;
$pinkPurple-primary-300: #956ED7;
