.main-content {
  // background: $app-bg;

  .card i {
    margin-right: 1rem;
  }

  .settings-info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 0 1rem;

    @media screen and (max-width: 575px) {
      grid-template-columns: 50px 1fr auto;

      .country {
        text-overflow: ellipsis;
      }
      // button:first-child {
      //   justify-self: normal;
      // }
    }
  }
}
