.main-content {
  // background: $app-bg;

  .card i {
    margin-right: 1rem;
  }

  .settings-info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 0 1rem;

    .mobile-text {
      display: none;
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: auto 1fr auto;
      gap : 0 0.5rem;

      .country {
        text-overflow: ellipsis;
      }

      .pc-text {
        display: none;
      }

      .mobile-text {
        display: block;
      }

      button.title{
        max-width: inherit;
        span {
          text-overflow: ellipsis;
          width: inherit;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
