@import "global/_global-dir";
@import "pages/_pages-dir";
@import "ui/_ui-dir";

.App {
  height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  padding: 5rem 8rem;
  font-weight: 600; 
  
  .content-wrapper {
    display: grid;
    align-items: center;
    grid-template-rows: 250px 100px 80px 120px;
    width: 1000px;
    margin: 0 auto;
    
    @media screen and (min-width: 90.063em) {
      width: 1090px;
      min-width: 1000px;
    } 
    
    @media screen and (max-width : 71em){
      width : auto; 
      min-width : 0; 
      padding : 0 16px; 
    }
    
  }
} 

i {
  font-size: 1.6rem; 
  color : $color-blue;
}

body {
  margin: 0 auto;
  color : $color-navy; 
}
