@import "global/_global-dir";
@import "pages/_pages-dir";
@import "ui/_ui-dir";

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0 auto;
  user-select: none;
  color: var(--text);
}

*:not(body) {
  transition: all 0.5s ease;
}

.App {
  height: 100%;
  display: flex;
  position: relative;
  background: var(--app-background);
  overflow-y: auto;

  .menu {
    z-index: 1000;
    color: var(--primary-200);
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    svg {
      font-size: 2rem;
    }
  }

  .feedback-icon {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    background: var(--primary-200);
    padding: 1rem;
    border-radius: 50%;

    i {
      color: white;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.1s ease-out;
    }
  }

  .copyright {
    color: var(--text);
    font-size: 0.6rem;
    position: fixed;
    bottom: 10px;
    left: 10px;

    @media screen and (max-width: 412px) {
      display: none;
    }
  }
}

.main-content {
  flex: 1;
  font-weight: 600;
  margin-top: 2.5rem;

  .content-wrapper {
    display: grid;
    align-items: center;
    // grid-template-rows: auto 100px 80px 120px;
    gap: 1.5rem 0;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10%;

    @media screen and (min-width: 90.063em) {
      width: 1090px;
      min-width: 1000px;
    }

    @media screen and (max-width: 71em) {
      width: auto;
      min-width: 0;
      padding: 2rem 1rem;
      top: 0;
    }
  }
}

i {
  font-size: 1.6rem;
  color: var(--active);
}
