@import "global/_global-dir";
@import "pages/_pages-dir";
@import "ui/_ui-dir";

.App {
  height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  font-weight: 600;

  .content-wrapper {
    display: grid;
    align-items: center;
    grid-template-rows: auto 100px 80px 120px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10%;

    @media screen and (min-width: 90.063em) {
      width: 1090px;
      min-width: 1000px;
    }

    @media screen and (max-width: 71em) {
      width: auto;
      min-width: 0;
      padding: 2rem 1rem 0 1rem;
      top: 0;
    }
  }
}

.dobby-wrapper {
  position: fixed;
  background: white;
  border-radius: 50%;
  bottom: 2rem;
  padding: 1rem;
  right: 2rem;

  img {
    width: 5rem;
  }
}

i {
  font-size: 1.6rem;
  color: $color-blue;
}

body {
  margin: 0 auto;
  color: $color-navy;
  user-select: none;
}
